@import '~assets/styles/styleColor';

.form-fields {
    .form-row {
        display: flex;
        margin-top: 10px;

        input {
            height: 40px;
            width: 300px;
            + input {
                margin-left: 20px;
            }
        }
        textarea {
            width: 100%;
            height: 100px;
        }
    }
}
