@import '~assets/styles/styleColor';

.form-fields {
    .form-row {
        display: flex;
        margin-top: 10px;

        input {
            height: 40px;
            width: 300px;
            + input {
                margin-left: 20px;
            }
        }
        textarea {
            width: 100%;
            height: 100px;
        }
    }
    .error-message {
        color: $red-error-color;
        display: block;
        padding-top: 10px;
    }
    &.no-active{
        flex: 0;
    }
}

.contact-form-success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20%;
    &.no-active{
        flex: 0;
    }
    .title {
        display: block;
        font-size: 30px;
        color: $dark-blue-font-color;
        font-style: italic;
        letter-spacing: -0.3px;
        padding-bottom: 15px;
    }
    label {
        color: $medium-gray-font-color;
        display: block;
        font-size: 16px;
        letter-spacing: -0.1px;
        span {
            color: $dark-blue-font-color;
        }
    }
    .add-ons {
        display: flex;
        margin-top: 15px;
        .document-container,
        .contact-container {
            flex: 1 0 49%;
            label {
                font-size: 14px;
            }
            .button {
                border: none;
                border-radius: 20px;
                width: 200px;
                height: 35px;
                background-color: $medium-gray-blue-font-color;
                color: white;
                font-size: 10px;
                font-weight: bold;
                letter-spacing: -0.1px;
                cursor: pointer;
                &:hover{
                    background-color: $medium-gray-blue-button-hover;
                }
            }
        }
        .document-container {
            text-align: right;
            margin-right: 20px;
        }
        .separator {
            width: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .divider {
                width: 2px;
                margin: 0 auto;
                height: 25px;
                background-color: $medium-gray-blue-font-color;
            }
            span {
                font-size: 25px;
                height: 30px;
                line-height: 22px;
                font-weight: 900;
                color: $text-box-note-font-color;
                display: block;
                text-align: center;
            }
        }
        .contact-container {
            text-align: left;
            margin-left: 20px;
        }
    }
}
