<form [formGroup]="contactForm" class="form-fields" (ngSubmit)="onSubmitForm(contactForm.value)" *ngIf="!contactSuccess">
  <span class="title">CONTÁCTANOS</span>
  <button class="navigation-button left" type="button" (click)="toJoin.emit()">
    <i class="fa fa-chevron-left"></i>
    INSCRÍBETE
  </button>
  <div class="form-row">
    <input placeholder="Nombre*" formControlName="name">
    <input placeholder="Email*" formControlName="email">
  </div>
  <div class="form-row">
    <textarea placeholder="Explicanos que sucede.*" formControlName="comment"></textarea>
  </div>
  <button [disabled]="!canSendForm" class="register-button">Envía el formulario</button>
</form>

<div class="contact-form-success" *ngIf="contactSuccess" [ngClass]="{'no-active': !registerSuccess}">
    <span class="title">¡GRACIAS!</span>
    <label>Hemos recibido correctamente tu mensaje.</label>
    <label>En breves nos pondremos directamente en contacto contigo.</label>
    <div class="add-ons">
      <div class="document-container">
        <label>Puedes descargate ya el documento con la información de la Pascua Joven XXII:</label>
        <button class="button">DESCARGA EL DOCUMENTO</button>
      </div>
      <div class="separator">
        <div class="divider"></div>
        <span>o</span>
        <div class="divider"></div>
      </div>
      <div class="contact-container">
        <label>Si todavia no te has inscrito, puedes acceder al formulario de inscripción aquí:</label>
        <button class="button" (click)="toJoin.emit()">ACCEDE AL FORMULARIO</button>
      </div>
    </div>
</div>
