<div class="encounter-slide">
    <breadcrumb [currentSlide]=3></breadcrumb>
    <div class="image-container">
      <header></header>
      <div class="init-message">
          <label>"Si caminas solo, irás mas rápido. Si caminas acompañado, llegarás más lejos"</label>
          <label class="author">-- Proverbio chino</label>
      </div>
    </div>
    <div class="text-container">
      <div class="text-wrapper">
        <label class="title">QUÉ VAS A ENCONTRAR</label>
        <p>En la Pascua muchos jóvenes vienen para encontrar la respuesta a esta y otras muchas preguntas.
          A través de la amistad, las meditaciones y la liturgia ellos descubren el amor de Dios y a qué
          los llama.
        </p>
        <p>
            Va dirigida a personas de entre 16 y 30 años y se celebrará desde el día Jueves Santo al Domingo
            de Resurrección (29 marzo - 1 abril).
        </p>
        <div class="quotes-container">
          <div class="quote">
            <i class="fa fa-quote-left quote-icon"></i>
            <div class="quote-content">
              <label class="quote-message">
                  Para mí la Pascua, cada año, es una experiencia nueva e irrepetible. 
                  Siento que de verdad vivo con Cristo, y muchos más jóvenes como yo, 
                  Sus hijos, su Pasión, muerte y resurrección. Viviendo su entrega, me
                  lleno de vida para intentar llevar un poquito de Su Amor a los demás.
                </label>
                <label class="quote-owner">Loli</label>
                <!-- <label class="owner-age">22 años</label> -->
            </div>
            <i class="fa fa-quote-right quote-icon"></i>
          </div>
          <div class="quote">
            <i class="fa fa-quote-left quote-icon"></i>
            <div class="quote-content">
              <label class="quote-message">
                  Sentí como me tocaba el corazón un amor muy grande. Y a partir de ese momento, 
                  intento vivir agradecido y pensando más en los demás que en mí.
              </label>
              <label class="quote-owner">Jose María</label>
              <!-- <label class="owner-age">28 años</label> -->
            </div>
            <i class="fa fa-quote-right quote-icon"></i>
          </div>
          <div class="quote">
            <i class="fa fa-quote-left quote-icon"></i>
            <div class="quote-content">
              <label class="quote-message">
                  La Pascua Joven es para mí, vivir la Pascua de una manera muy intensa y cerca
                  de Jesús donde me vuelvo a dar cuenta de lo mucho que Dios me quiere, no solo
                  a través de los oficios sino a través de cada una de las personas que estamos
                  allí.
              </label>
              <label class="quote-owner">Montse</label>
              <!-- <label class="owner-age">23 años</label> -->
            </div>
            <i class="fa fa-quote-right quote-icon"></i>
          </div>
        </div>
      </div>
      <div class="arrow-container" onClick="document.getElementById('this-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">
        <span class="arrow-text">SCROLL</span>
        <img class="arrow-icon" src="/assets/images/arrow.svg">
      </div>
    </div>
  </div>