<div class="encounter-slide">
    <breadcrumb [currentSlide]=3></breadcrumb>
    <div class="image-container">
      <header></header>
      <div class="init-message">
        <label>"Alguna cita de la necesidad de una comunidad o de interacción social"</label>
      </div>
    </div>
    <div class="text-container">
      <div class="text-wrapper">
        <label class="title">QUÉ VAS A ENCONTRAR</label>
        <p>Esta parte ya sí que va a ser más concreta, pero aún no los detalles necesarios 
          para los que ya saben que van a ir.
        </p>
        <p>Este apartado ya puede ayudar a decir, por ejemplo, la edad de los que viene, 
          de qué comunidades suelen venir, que se dan temas y se celebran especialmente los 
          oficios de la Semana Santa.
        </p>
        <p>Yo lo veo más bien como una especie ya de aclarar dudas que con las anteriores 
          descripciones no eran suficientes.</p>
      </div>
      <div class="arrow-container" onClick="document.getElementById('what-find').scrollIntoView({block: 'end', behavior: 'smooth'});">
      </div>
    </div>
  </div>