<div class="join-contact-slide">
  <div class="header-container">
    <header></header>
  </div>
  
  <div class="forms-container">
    <div class="join-form" [ngClass]="{'hidden-join-form':openContactForm}">
      <div class="collapsed-join-jorm" *ngIf="openJoinForm===false && openContactForm===false">
        <span class="form-title" (click)="openJoinForm=true">INSCRÍBETE</span>
        <span class="form-message" (click)="openJoinForm=true">Rellena nuestro formulario para poder formar parte de la Pascua Joven XXII</span>
      </div>
      <div class="expanded-join-form" *ngIf="openJoinForm">
        <form class="join-form-fields">
          <span class="title">INSCRÍBETE</span>
          <div class="form-row">
            <input placeholder="Nombre">
            <input placeholder="Apellidos">
          </div>
          <div class="form-row">
            <label>Fecha de nacimiento</label>
            <select></select>
            <select></select>
            <select></select>
          </div>
          <div class="form-row">
              <input placeholder="Correo electrónico">
              <input placeholder="Teléfono de contacto">
          </div>
          <div class="form-row">
              <input placeholder="Grupo o movimiendo de contacto">
              <input placeholder="¿Quien te ha invitado?">
          </div>
          <div class="form-row">
            <textarea placeholder="Si tienes algún problema de salud, con la comida o algo que crees que
            tengamos que tener en cuenta, explícanoslo por favor." ></textarea>
          </div>
          <button [disabled]=true>Envía el formulario</button>
        </form>
      </div>
    </div>
    <div class="forms-separator" *ngIf="openJoinForm===false && openContactForm===false">
      <div class="divider"></div>
      <span>o</span>
      <div class="divider"></div>
    </div>
    <div class="contact-form" [ngClass]="{'hidden-contact-form':openJoinForm}">
      <div class="collapsed-contact-form" *ngIf="openJoinForm===false && openContactForm===false">
        <span class="form-title" (click)="openContactForm=true">CONTÁCTANOS</span>
        <span class="form-message" (click)="openContactForm=true">Pregúntanos sobre aquello que necesites saber y nos pondremos en contacto contigo</span>
      </div>
    </div>
  </div>


  <div class="footer-container">
    <div class="horizontal-breadcrumb">
      <span class="breadcrumb-step" 
        onClick="document.getElementById('initial-slide').scrollIntoView({block: 'end', behavior: 'smooth'});">INICIO</span>
      <div class="line-separator"></div>
      <span class="breadcrumb-step"
        onClick="document.getElementById('what-is-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">QUÉ ES LA PASCUA</span>
      <div class="line-separator"></div>
      <span class="breadcrumb-step" 
        onClick="document.getElementById('what-find').scrollIntoView({block: 'end', behavior: 'smooth'});">QUÉ VAS A ENCONTRAR</span>
      <div class="line-separator"></div>
      <span class="breadcrumb-step"
        onClick="document.getElementById('this-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">ESTA PASCUA</span>
    </div>
    <div class="follow-container">
      <span>¡Puedes seguirnos en las redes sociales!:</span>
      <img class="instagram" src="/assets/images/icn-instagram.svg"/> | <img class="facebook" src="/assets/images/icn-facebook.svg"/>
    </div>
    <div class="bottom-footer">
      <div class="organized-by">Organizado por:</div>
      <img class="cfl-logo" src="/assets/images/cfl.svg">
      <div class="links-container">
        <span class="address">Sede Central en C/ Consell de Cent, 474 bis – Barcelona</span>
        <a href="mailto:info@fieleslaicos.com" class="link">info@fieleslaicos.com</a>
        <span class="point-separator">·</span>
        <a href="www.fieleslaicos.com" class="link">www.fieleslaicos.com</a>
        <span class="point-separator">·</span>
        <a href=">www.facebook.com/fieleslaicos" class="link">www.facebook.com/fieleslaicos</a>
      </div>
      <div class="design-by">Diseño por:</div>
      <img class="hayaluz-logo" src="/assets/images/haya-luz.svg">
    </div>
  </div>
</div>