@import '~assets/styles/styleColor';

.join-contact-slide{
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    .header-container {
        height: 200px;
        width: 100%;
        background-image: url('/assets/images/forms-slide-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }

    .forms-container {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        .join-form,
        .contact-form {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 1 0 49%;
            -ms-flex: 1 0 49%;
            flex: 1 0 49%;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            color: $text-box-note-font-color;
            &.hidden-join-form {
                flex: 0;
            }
            .collapsed-join-form,
            .collapsed-contact-form {
                cursor: pointer;
                flex: 1 1 1;
                display: flex;
                flex-direction: column;
                padding: 20px 0;
                margin: 0 100px;
                span{
                    display: block;
                    padding: 0 20px;
                }
                &:hover {
                    color: $medium-gray-blue-font-color;
                    border-top: 1px solid $dark-blue-font-color;
                    border-bottom: 1px solid $dark-blue-font-color;
                }
            }
            .form-title {
                font-size: 20px;
                font-weight: 900;
                letter-spacing: -0.2px;
            }
            .form-message {
                font-size: 15px;
                font-weight: normal;
                letter-spacing: -0.1px;
            }
            .expanded-join-form,
            .expanded-contact-form {
                display: flex;
                margin: 15px auto;
                overflow: auto;
                .join-form-fields,
                .contact-form-fields {
                    position: relative;
                    margin: 0 auto;
                    .title {
                        color: $dark-blue-font-color;
                        font-size: 20px;
                        font-weight: bold;
                        letter-spacing: -0.1px;
                        padding-bottom: 10px;
                    }
                    .navigation-button {
                        position: absolute;
                        top: 5px;
                        border: none;
                        background-color: transparent;
                        color: $text-box-note-font-color;
                        font-size: 11px;
                        font-weight: bold;
                        right: 0px;
                        cursor: pointer;
                        i {
                            font-weight: normal;
                        }
                        &:hover {
                            color: $dark-blue-font-color;
                        }
                    }
                    .form-row {
                        display: flex;
                        margin-top: 10px;
                        &.birthday-row {
                            flex-direction: column;
                            label {
                                text-align: left;
                            }
                            div {
                                display: flex;
                                select {
                                    margin-right: 10px;
                                    height: 40px;
                                    width: 90px;
                                    padding: 5px 10px;
                                    &.select-year {
                                        width: 100px;
                                        margin-right: 0px;
                                    }
                                }
                            }
                        }
                        input {
                            height: 40px;
                            width: 300px;
                            padding: 5px;
                            box-sizing: border-box;
                            color: $dark-blue-font-color;
                            + input {
                                margin-left: 20px;
                            }
                        }
                        label {
                            color: $medium-gray-blue-font-color;
                            display: block;
                        }
                        textarea {
                            resize: none;
                            width: 100%;
                            height: 100px;
                            text-align: left;
                            padding: 5px;
                        }
                    }
                    .register-button {
                        margin-top: 20px;
                        border: none;
                        border-radius: 20px;
                        width: 200px;
                        height: 35px;
                        background-color: $medium-gray-blue-font-color;
                        color: white;
                        cursor: pointer;
                        &:disabled {
                            background-color: $disabled-form-button;
                            color: $form-button-disabled-text-color;
                            cursor: not-allowed;
                        }
                    }
                }
            }
        }
        .forms-separator {
            width: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .divider {
                width: 2px;
                margin: 0 auto;
                height: 25px;
                background-color: $medium-gray-blue-font-color;
            }
            span {
                font-size: 25px;
                font-weight: 900;
                color: $text-box-note-font-color;
                display: block;
                text-align: center;
            }
        }
        .contact-form {
            &.hidden-contact-form {
                flex: 0;
            }
            .expanded-contact-form {
                .contact-form-fields {
                   
                    .navigation-button {
                        left: 0px;
                    }
                    .form-row {
                        textarea {
                            width: 600px;
                        }
                    }
                }
            }
        }
    }

    .footer-container {
        height: 170px;
        background-color: $background-box-gray;
        // bottom: 0;
        width: 100%;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        .horizontal-breadcrumb{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            text-align: center;
            line-height: 50px;
            height: 50px;
            .breadcrumb-step {
                font-weight: bold;
                font-size: 10px;
                letter-spacing: -0.1px;
                color: $text-box-note-font-color;
                &:hover {
                    cursor: pointer;
                    color: $medium-gray-blue-font-color;
                }
            }
            .line-separator {
                margin: 0px 5px;
                width: 30px;
                height: 0px;
                border: 1px solid $medium-gray-blue-font-color;
            }
        }
        .follow-container{
            text-align: center;
            line-height: 30px;
            height: 30px;
            color: $text-box-note-font-color;
            span {
                letter-spacing: -0.1px;
                font-size: 15px;
            }
            .instagram,
            .facebook {
                height: 12px;
                cursor: pointer;
                &:hover path {
                    cursor: pointer;
                }
            }
        }
        .bottom-footer {
            .organized-by {
                position: absolute;
                bottom: 55px;
                left: 10px;
                font-size: 12px;
                color: $text-box-note-font-color;
            }
            .cfl-logo {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 150px;
            }
            .links-container {
                position: absolute;
                left: 175px;
                bottom: 18px;
                font-size: 10px;
                .address {
                    display: block;
                    color: $text-box-note-font-color;
                }
                .link,
                .point-separator {
                    color: $medium-gray-blue-font-color !important;
                }
            }
            .design-by {
                position: absolute;
                bottom: 55px;
                right: 10px;
                font-size: 12px;
                color: $text-box-note-font-color;
            }
            .hayaluz-logo {
                width: 50px;
                right: 10px;
                bottom: 10px;
                position: absolute;
            }
        }
    }
}