@import '~assets/styles/styleColor';

.join-contact-slide{
    height: 100%;
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;

    .header-container {
        height: 200px;
        width: 100%;
        background-image: url('/assets/images/forms-slide-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    }

    .forms-container {
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        .join-form {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            color: $text-box-note-font-color;
            &.hidden-join-form {
                flex: 0;
            }
            span{
                display: block;
                padding: 0 20px;
                cursor: pointer;
            }
            .form-title {
                font-size: 20px;
                font-weight: 900;
                letter-spacing: -0.2px;
            }
            .form-message {
                font-size: 15px;
                font-weight: normal;
                letter-spacing: -0.1px;
            }
            .expanded-join-form{
                .title {
                    color: $medium-gray-blue-font-color;
                    font-size: 20px;
                    font-weight: bold;
                    letter-spacing: -0.1px;
                }
                .form-row {
                    margin-top: 10px;
                    input {
                        height: 40px;
                        width: 300px;
                        padding: 5px;
                        box-sizing: border-box;
                        + input {
                            margin-left: 20px;
                        }
                    }
                    label {
                        color: $medium-gray-blue-font-color;
                        display: block;
                    }
                    textarea {
                        resize: none;
                    }
                }
            }
        }
        .forms-separator {
            width: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .divider {
                width: 2px;
                margin: 0 auto;
                height: 25px;
                background-color: $medium-gray-blue-font-color;
            }
            span {
                font-size: 25px;
                font-weight: 900;
                color: $text-box-note-font-color;
                display: block;
                text-align: center;
            }
        }
        .contact-form {
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 1 0 auto;
            -ms-flex: 1 0 auto;
            flex: 1 0 auto;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            color: $text-box-note-font-color;
            &.hidden-contact-form {
                flex: 0;
            }
            span{
                display: block;
                padding: 0 20px;
                cursor: pointer;
            }
            .form-title {
                font-size: 20px;
                font-weight: 900;
                letter-spacing: -0.2px;
            }
            .form-message {
                font-size: 15px;
                font-weight: normal;
                letter-spacing: -0.1px;
            }
        }
    }

    .footer-container {
        height: 250px;
        background-color: $background-box-gray;
        // bottom: 0;
        width: 100%;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        .horizontal-breadcrumb{
            width: 100%;
            text-align: center;
            line-height: 50px;
            height: 50px;
            .breadcrumb-step {
                font-weight: bold;
                font-size: 10px;
                letter-spacing: -0.1px;
                color: $text-box-note-font-color;
                &:hover {
                    cursor: pointer;
                    color: $medium-gray-blue-font-color;
                }
            }
            .line-separator {
                display: inline-block;
                margin: 0 5px 2px;
                width: 30px;
                height: 0px;
                border: 1px solid $medium-gray-blue-font-color;
            }
        }
        .follow-container{
            text-align: center;
            line-height: 30px;
            height: 30px;
            color: $text-box-note-font-color;
            span {
                letter-spacing: -0.1px;
                font-size: 15px;
            }
            .instagram,
            .facebook {
                height: 12px;
                cursor: pointer;
                &:hover path {
                    cursor: pointer;
                }
            }
        }
        .bottom-footer {
            .organized-by {
                position: absolute;
                bottom: 55px;
                left: 10px;
                font-size: 12px;
                color: $text-box-note-font-color;
            }
            .cfl-logo {
                position: absolute;
                bottom: 10px;
                left: 10px;
                width: 150px;
            }
            .links-container {
                position: absolute;
                left: 175px;
                bottom: 18px;
                font-size: 10px;
                .address {
                    display: block;
                    color: $text-box-note-font-color;
                }
                .link,
                .point-separator {
                    color: $medium-gray-blue-font-color !important;
                }
            }
            .design-by {
                position: absolute;
                bottom: 55px;
                right: 10px;
                font-size: 12px;
                color: $text-box-note-font-color;
            }
            .hayaluz-logo {
                width: 50px;
                right: 10px;
                bottom: 10px;
                position: absolute;
            }
        }
    }
}