<div class="join-contact-slide">
  <div class="header-container">
    <header></header>
  </div>
  
  <div class="forms-container">
    <div class="join-form"></div>
    <div class="forms-separator"></div>
    <div class="contact-form"></div>
  </div>


  <div class="footer-container">
    <div class="horizontal-breadcrumb">
      <span class="breadcrumb-step" 
        onClick="document.getElementById('initial-slide').scrollIntoView({block: 'end', behavior: 'smooth'});">INICIO</span>
      <div class="line-separator"></div>
      <span class="breadcrumb-step"
        onClick="document.getElementById('what-is-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">QUÉ ES LA PASCUA</span>
      <div class="line-separator"></div>
      <span class="breadcrumb-step" 
        onClick="document.getElementById('what-find').scrollIntoView({block: 'end', behavior: 'smooth'});">QUÉ VAS A ENCONTRAR</span>
      <div class="line-separator"></div>
      <span class="breadcrumb-step"
        onClick="document.getElementById('this-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">ESTA PASCUA</span>
    </div>
    <div class="follow-container">
      <span>¡Puedes seguirnos en las redes sociales!:</span>
      <img class="instagram" src="/assets/images/icn-instagram.svg"/> | <img class="facebook" src="/assets/images/icn-facebook.svg"/>
    </div>
    <div class="bottom-footer">
      <div class="organized-by">Organizado por:</div>
      <img class="cfl-logo" src="/assets/images/cfl.svg">
      <div class="links-container">
        <span class="address">Sede Central en C/ Consell de Cent, 474 bis – Barcelona</span>
        <a href="mailto:info@fieleslaicos.com" class="link">info@fieleslaicos.com</a>
        <span class="point-separator">·</span>
        <a href="www.fieleslaicos.com" class="link">www.fieleslaicos.com</a>
        <span class="point-separator">·</span>
        <a href=">www.facebook.com/fieleslaicos" class="link">www.facebook.com/fieleslaicos</a>
      </div>
      <div class="design-by">Diseño por:</div>
      <img class="hayaluz-logo" src="/assets/images/haya-luz.svg">
    </div>
  </div>
</div>