<div class="breadcrumb">
  <div class="list-element" [ngClass]="{'active': currentSlide === 1}"
    onClick="document.getElementById('initial-slide').scrollIntoView({block: 'end', behavior: 'smooth'});">
    <div class="square"></div><label class="slide-name">INICIO</label>
    <div class="line"></div>
  </div>
  <div class="list-element" [ngClass]="{'active': currentSlide === 2}"
    onClick="document.getElementById('what-is-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">
    <div class="square"></div><label class="slide-name">QUÉ ES LA PASCUA</label>
    <div class="line"></div>
  </div>
  <div class="list-element" [ngClass]="{'active': currentSlide === 3}"
    onClick="document.getElementById('what-find').scrollIntoView({block: 'end', behavior: 'smooth'});">
    <div class="square"></div><label class="slide-name">QUÉ VAS A ENCONTRAR</label>
    <div class="line"></div>
  </div>
  <div class="list-element" [ngClass]="{'active': currentSlide === 4}"
    onClick="document.getElementById('this-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">
    <div class="square"></div><label class="slide-name">ESTA PASCUA</label>
    <div class="line"></div>
  </div>
  <div class="list-element" [ngClass]="{'active': currentSlide === 5}"
    onClick="document.getElementById('join-contact').scrollIntoView({block: 'end', behavior: 'smooth'});">
    <div class="square"></div><label class="slide-name">INSCRIPCIÓN Y CONTACTO</label>
  </div>
</div>