.web-container {
    height: 100%;
    width: 100%;
    flex: 1 0 auto;
    display: flex;

    initial-slide {
        flex: 1;
        display: flex;
    }

    what-slide {
        flex: 1;
        display: flex;
    }
}