.web-container {
    height: 100%;
    width: 100%;

    &.blue-color {
        background-color: blue;
        margin-top: -21px;
    }
    &.green-color {
        background-color: green;
        margin-top: -21px;
    }
}