@import '~assets/styles/styleColor';

.what-slide {
    flex: 1;
    position: relative;

    breadcrumb {
        position: absolute;
        height: 100%;
    }

    .image-container {
        height: 100%;
        width: 50%;
        background-image: url('/assets/images/what-slide-background.jpeg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;

        .init-message {
            position: absolute;
            top: 18%;
            left: calc(50% - 20% - 15px);
            height: 10%;
            width: 20%;
            text-align: center;
            margin-right: 15px;
            text-align: right;

            label {
                color: $white-font-color;
                font-size: 18px;
                font-family: 'Lora';
                font-weight: normal;
                font-style: italic;
                letter-spacing: -0.2px;

                &.author {
                    display: block;
                }
            }
        }
    }

    .text-container {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 50%;
        display: inline-block;

        .text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;

            .title {
                display: block;
                color: $dark-blue-font-color;
                font-size: 22px;
                font-weight: 900;
                letter-spacing: -0.2px;
                padding: 0 20px;
            }

            p {
                color: $medium-gray-font-color;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: -0.1px;
                padding: 0 20px;
            }
        }

        .arrow-container {
            height: 70px;
            width: 50px;
            right: 20px;
            margin-left: -25px;
            position: absolute;
            bottom: 0px;
            cursor: pointer;
            text-align: center;

            .arrow-text {
                font-size: 10px;
                display: block;
                color: $medium-gray-font-color;
                margin-top: 10px;
            }

            .arrow-icon {
                height: 30px;
                width: 100%;
                display: block;
                position: relative;
                margin-top: 5px;
            }
        }
    }
}