<div class="what-slide">
    <breadcrumb [currentSlide]=2></breadcrumb>
    <div class="image-container">
      <header></header>
      <div class="init-message">
        <label>"Alguna cita que hable de inicio o despertar"</label>
      </div>
    </div>
    <div class="text-container">
      <div class="text-wrapper">
        <label class="title">QUÉ ES LA PASCUA</label>
        <p>Aquí va una segunda introducción. En la página de inicio hay un pequeño claim para 
          despertar la curiosidad para inducir a curiosear un poco más.
        </p>
        <p>Esta segunda página tendrá como objetivo presentar la Pascua de una forma aún 
          general, pero ya entrando un poco más en contenido. Haciendo una especie de sinópsis
          mística para que el lector ya sepa más lo que hay para decidir si seguir con la 
          página o no.
        </p>
      </div>
      <div class="arrow-container" onClick="document.getElementById('what-find').scrollIntoView({block: 'end', behavior: 'smooth'});">
        <span class="arrow-text">SCROLL</span>
        <img class="arrow-icon" src="/assets/images/arrow.svg">
      </div>
    </div>
  </div>