<div class="what-slide">
    <breadcrumb [currentSlide]=2></breadcrumb>
    <div class="image-container">
      <header></header>
      <!--<div class="init-message">
        <label>"Comienza haciendo lo que es necesario, después lo que es posible
          y de repente estarás haciendo lo imposible"
        </label>
        <label class="author">-- San Francisco de Asís</label>
      </div>-->
    </div>
    <div class="text-container">
      <div class="text-wrapper">
        <label class="title">QUÉ ES LA PASCUA</label>
        <div class="p-container">
          <p>¿Te imaginas que alguien te dijera que te quiere tanto que ha muerto por ti?
            ¿Te imaginas que te quiere por encima de cualquiera de tus defectos?
            ¿Te imaginas que esa misma persona está viva y quiere seguir hablándote?
          </p>
          <p>Todas estas preguntas tienen una respuesta: Jesucristo. Él ha muerto en la cruz
            porque te quiere, porque quiere hacerte libre y ha resucitado para que tu vida
            tenga sentido.
          </p>
          <p>¿Es esto posible?
          </p>
      </div>
      </div>
      <!--<div class="arrow-container" onClick="document.getElementById('what-find').scrollIntoView({block: 'end', behavior: 'smooth'});">
        <span class="arrow-text">SCROLL</span>
        <img class="arrow-icon" src="/assets/images/arrow.svg">
      </div>-->
    </div>
  </div>