<form [formGroup]="userForm" class="form-fields" (ngSubmit)="onSubmitForm(userForm.value)" *ngIf="!registerSuccess" [ngClass]="{'no-active': registerSuccess}">
  <span class="title">INSCRÍBETE</span>
  <button class="navigation-button" type="button" (click)="toContacts.emit()">CONTÁCTANOS
    <i class="fa fa-chevron-right"></i>
  </button>
  <div class="form-row">
    <input placeholder="Nombre*" formControlName="name">
    <input placeholder="Apellidos*" formControlName="surname">
  </div>
  <div class="form-row birthday-row" formGroupName="birth">
    <label>Fecha de nacimiento</label>
    <div>
      <select formControlName="day" required>
        <option [ngValue]="null" disabled [selected]="true">Día*</option>
        <option *ngFor="let d of days">{{d}}</option>
      </select>
      <select (change)="refreshDays()" formControlName="month">
        <option [ngValue]="null" disabled [selected]="true">Mes*</option>
        <option *ngFor="let m of months">{{m}}</option>
      </select>
      <select (change)="refreshDays()" formControlName="year" class="select-year">
        <option [ngValue]="null" disabled [selected]="true">Año*</option>
        <option *ngFor="let y of years">{{y}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
      <input placeholder="Correo electrónico*"  formControlName="email">
      <input placeholder="Teléfono de contacto*"  formControlName="phone">
  </div>
  <div class="form-row">
      <input placeholder="Grupo/parroquia"  formControlName="group">
      <input placeholder="¿Quién te ha invitado?*"  formControlName="invitedBy">
  </div>
  <div class="form-row">
    <textarea placeholder="Si tienes algún problema de salud, con la comida o algo que crees que tengamos que tener en cuenta, explícanoslo por favor."
      formControlName="comments"></textarea>
  </div>
  <button [disabled]="!canSendForm" class="button">Envía el formulario</button>
  <label *ngIf="joinFormError" class="error-message">{{joinFormErrorMessage}}</label>
</form>

<div class="join-form-success" *ngIf="registerSuccess" [ngClass]="{'no-active': !registerSuccess}">
    <span class="title">¡Gracias!</span>
    <label>Hemos recibido correctamente tu inscripción.</label>
    <label>En breves te enviaremos un mail con los datos necesarios <span class="bold">para que finalices tu inscripción</span> y con toda la información necesaria sobre la Pascua Joven XXII.</label>
    <div class="add-ons">
      <div class="document-container">
        <label>Si quieres descargate ya el documento con la información, puedes encontrarlo aquí:</label>
        <a href="/assets/documents/Documento-PJXXII.pdf" download><button class="button">DESCARGA EL DOCUMENTO</button></a>
      </div>
      <div class="separator">
        <div class="divider"></div>
        <span>o</span>
        <div class="divider"></div>
      </div>
      <div class="contact-container">
        <label>Si hay algo que quieras decirnos, rellena el formulario de contacto que encontrarás aquí:</label>
        <button class="button" (click)="toContacts.emit()">CONTACTA CON NOSOTROS</button>
      </div>
    </div>
</div>
