@import '~assets/styles/styleColor';

.form-fields {
    .form-row {
        &.birthday-row {
            flex-direction: column;
            label {
                text-align: left;
            }
            div {
                display: flex;
                select {
                    margin-right: 10px;
                    height: 40px;
                    width: 90px;
                    &.select-year {
                        width: 100px;
                        margin-right: 0px;
                    }
                }
            }
        }
        input {
            height: 40px;
            width: 300px;
            + input {
                margin-left: 20px;
            }
        }
        textarea {
            width: 100%;
            height: 100px;
        }
    }
}