<div class="table-header">
  <div class="table-row">
    <div class="table-cell">Nº</div>
    <div class="table-cell">Nombre</div>
    <div class="table-cell">Apellidos</div>
    <div class="table-cell">Edad</div>
    <div class="table-cell">Correo</div>
    <div class="table-cell">Teléfono</div>
    <div class="table-cell">Grupo/Movimiento</div>
    <div class="table-cell">Invitado por</div>
    <div class="table-cell">Mensaje</div>
  </div>
</div>
<div class="table-body">
  <div class="table-row" *ngFor="let user of rf.users; let i = index">
      <div class="table-cell">
        <div class="sub-cell-name">Nº</div>
        <div class="sub-cell-value">{{i + 1}}</div>
      </div>
      <div class="table-cell">
        <div class="sub-cell-name">Nombre</div>
        <div class="sub-cell-value">{{user.name}} <div class="sub-cell-value-extra">{{user.surname}}</div></div>
      </div>
      <div class="table-cell">
        <div class="sub-cell-name">Apellidos</div>
        <div class="sub-cell-value">{{user.surname}}</div>
      </div>
      <div class="table-cell">
        <div class="sub-cell-name">Edad</div>
        <div class="sub-cell-value">{{formatDate(user.birth)}}</div>
      </div>
      <div class="table-cell cell-dots">
        <div class="sub-cell-name">Correo</div>
        <div class="sub-cell-value">{{user.email}}</div>
      </div>
      <div class="table-cell cell-dots">
        <div class="sub-cell-name">Teléfono</div>
        <div class="sub-cell-value">{{user.phone}}</div>
      </div>
      <div class="table-cell">
        <div class="sub-cell-name">Grupo/Movimineto</div>
        <div class="sub-cell-value">{{user.group}}</div>
      </div>
      <div class="table-cell">
        <div class="sub-cell-name">Invitado por</div>
        <div class="sub-cell-value">{{user.invitedBy}}</div>
      </div>
      <div class="table-cell">
        <div class="sub-cell-name">Mensaje</div>
        <div class="sub-cell-value">{{user.comments}}</div>
      </div>
  </div>
</div>
