@import '~assets/styles/styleColor';

.initial-slide {
    height: 100%;
    background-image: url('/assets/images/main-slide-background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex: 1;
    
    .main-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        flex: 1 0 auto;
        .title-container {
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex: 1 0 auto;
            .main-title {
                color: $white-font-color;
                font-family: 'SourceSansPro';
                font-weight: bold;
                letter-spacing: -0.6px;
                line-height: 65px;
            }
            .lema {
                color: $white-font-color;
                font-family: 'Lora';
                font-size: 2.5vw;
                font-weight: normal;
                font-style: italic;
                letter-spacing: -0.2px;
                line-height: 30px;

            }
        }

        .message-container {
            text-align: center;
            .message {
                color: $white-font-color;
                font-size: 1.5vw;
                letter-spacing: -0.1px;
                font-family: 'Open Sans';
            }
        }

        .mobile-join-button {
            height: 40px;
            width: 250px;
            border: 1px solid white;
            color: white;
            text-align: center;
            line-height: 40px;;
            display: none;
            flex: 0;
            border-radius: 25px;
            max-height: 40px;
            margin-bottom: 30px;
            &:hover {
                cursor: pointer;

            }
        }

        .arrow-container {
            height: 70px;
            cursor: pointer;
            text-align: center;

            .arrow-text,
            .arrow-text-small {
                font-size: 10px;
                display: none;
                color: white;
                margin-top: 10px;
            }

            .arrow-icon {
                height: 30px;
                width: 100%;
                display: block;
                position: relative;
                margin-top: 5px;
                color: white;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .initial-slide {
        breadcrumb {
            display: none;
            flex: 0;
        }
        .main-container {  
            flex: 1 0 auto;
            flex-direction: column;
            .title-container {
                text-align: center;
                .main-title {
                    max-width: 320px;
                    font-size: 20vw;
                }
                .lema {
                    font-size: 5.5vw;
                }
            }
            .message-container {
                display: none;
                flex: 0;
            }
            .mobile-join-button{
                display: block;
                flex: 1 0 40px;;
            }
            .arrow-container{
                .arrow-text-small{
                    display: block;
                }
            }
        }
    }
} 

@media screen and (min-width: 451px){
    .initial-slide {
        breadcrumb {
            position: absolute;
            height: 100%;
        }
        .main-container {  
            .title-container{
                flex: 1 0 90px;
                padding-top: 140px;
                .main-title {
                    font-size: 5.9vw;
                }
            }
            .message-container{
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex: 1 0 90px;
                max-height: 90px;
            }
            .arrow-container{
                .arrow-text{
                    display: block;
                }
            }
        }
    }
}