<div class="initial-slide">
  <breadcrumb [currentSlide]=1></breadcrumb>
  <div class="main-container">
    <div class="title-container">
      <label class="main-title">PASCUA JOVEN XXII</label>
      <label class="lema">"Solamente ten fe" — Mc 5, 36</label>
    </div>
    <div class="message-container">
      <label class="message">Un encuentro personal con Cristo en el transcurso de su Pasión, Muerte y Resurrección</label>
    </div>
    <div class="arrow-container" onClick="document.getElementById('what-is-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">
      <span class="arrow-text">SCROLL</span>
      <img class="arrow-icon" src="/assets/images/arrow.svg">
    </div>
  </div>
</div>