<div class="initial-slide">
  <breadcrumb [currentSlide]=1></breadcrumb>
  <div class="main-container">
    <div class="title-container">
      <label class="main-title">PASCUA JOVEN XXII</label>
      <label class="lema">"Simplemente ten fe" — Mc 5, 36</label>
    </div>
    <div class="message-container">
      <label class="message">Aquí va un texto introductorio a la Pascua de unas dos líneas que dé una visión general de lo que es, o de lo que consiste</label>
    </div>
    <div class="arrow-container" onClick="document.getElementById('what-is-easter').scrollIntoView({block: 'end', behavior: 'smooth'});">
      <span class="arrow-text">SCROLL</span>
      <img class="arrow-icon" src="/assets/images/arrow.svg">
    </div>
  </div>
</div>