@import '~assets/styles/styleColor';

.this-easter-slide {
    height: 100%;
    position: relative;

    breadcrumb {
        position: absolute;
        height: 100%;
    }

    .image-container {
        height: 100%;
        width: 50%;
        background-image: url('/assets/images/this-easter-slide-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;

        .init-message {
            position: absolute;
            top: 18%;
            left: calc(50% - 35% - 15px);
            height: 10%;
            width: 35%;
            text-align: center;
            margin-right: 15px;
            text-align: right;

            label {
                color: $white-font-color;
                font-size: 18px;
                font-family: 'Lora';
                font-weight: normal;
                font-style: italic;
                letter-spacing: -0.2px;

                &.author {
                    display: block;
                }
            }
        }
    }

    .text-container {
        width: 50%;
        height: 100%;
        position: absolute;
        left: 50%;
        display: inline-block;

        .text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            height: 100%;

            .title {
                display: block;
                color: $dark-blue-font-color;
                font-size: 22px;
                font-weight: 900;
                letter-spacing: -0.2px;
                padding: 0 20px;
            }

            p {
                color: $medium-gray-font-color;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: -0.1px;
                padding: 0 20px;
            }

            .info-container {
                width: 90%;
                margin-left: 5%;

                .label-container {
                    position: relative;
                    margin-top: 10px;

                    .info-label {
                        font-weight: bold;
                        color: $dark-blue-font-color;
                        letter-spacing: -0.1px;
                        font-size: 16px;
                    }

                    .info-value {
                        margin-left: 3px;
                        font-weight: normal;
                        color: $medium-gray-font-color;
                        font-size: 16px;
                        letter-spacing: -0.1px;

                        a {
                            color: $medium-gray-blue-font-color;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &.address {
                            display: block;
                            margin-left: 0px;
                        }
                    }
                }
                
                
            }
        }

        .footer-container {
            position: absolute;
            bottom: 10px;
            width: 80%;
            padding-left: 20px;

            .line-separator {
                height: 2px;
                background-color: $medium-gray-blue-font-color;
                width: 90px;
                opacity: 0.7;
            }
            label {
                margin-top: 5px;
                display: block;
                font-size: 16px;
                letter-spacing: -0.1px;
                color: $medium-gray-font-color;
            }
            button {
                margin-top: 5px;
                border-radius: 20px;
                background-color: $medium-gray-blue-font-color;
                color: $white-font-color;
                border: none;
                cursor: pointer;
                font-size: 11px;
                padding: 5px 12px;

                &:hover{
                    background-color: $medium-gray-blue-button-hover;
                }
            }
        }

        .arrow-container {
            height: 70px;
            width: 50px;
            right: 20px;
            margin-left: -25px;
            position: absolute;
            bottom: 0px;
            cursor: pointer;
            text-align: center;

            .arrow-text {
                font-size: 10px;
                display: block;
                color: $medium-gray-font-color;
                margin-top: 10px;
            }

            .arrow-icon {
                height: 30px;
                width: 100%;
                display: block;
                position: relative;
                margin-top: 5px;
            }
        }
    }
}