@import '~assets/styles/styleColor';

.this-easter-slide {
    flex: 1;
    display: flex;


    breadcrumb {
        position: absolute;
        height: 100%;
    }

    .image-container {
        flex: 1 0 50%;
        background-image: url('/assets/images/this-easter-slide-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        text-align: right;

        header {
            flex: 1 0 100px;
            max-height: 100px;
        }

        .init-message {
            label {
                color: $white-font-color;
                font-family: 'Lora';
                font-weight: normal;
                font-style: italic;
                letter-spacing: -0.2px;

                &.author {
                    display: block;
                }
            }
        }
    }

    .text-container {
        flex: 1 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .text-wrapper {
            flex: 1 0 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .title {
                flex: 1 0 50px;
                max-height: 50px;
                display: flex;
                align-items: center;
                color: $dark-blue-font-color;
                font-size: 22px;
                font-weight: 900;
                letter-spacing: -0.2px;
                font-family: 'SourceSansPro';
                padding: 0 20px;
            }

            .p-container {
                flex: 1 0 40px;
                max-height: 40px;
                word-wrap: break-word;
                font-size: 16px;
                p {
                    color: $medium-gray-font-color;
                    font-weight: normal;
                    font-family: 'SourceSansPro';
                    letter-spacing: -0.1px;
                    padding: 0 20px;
                }
            }

            .info-container {
                width: 90%;
                margin-left: 5%;

                .label-container {
                    position: relative;
                    margin-top: 10px;

                    .info-label {
                        font-weight: bold;
                        color: $dark-blue-font-color;
                        letter-spacing: -0.1px;
                        font-size: 16px;
                    }

                    .info-value {
                        margin-left: 3px;
                        font-weight: normal;
                        color: $medium-gray-font-color;
                        font-size: 16px;
                        letter-spacing: -0.1px;

                        a {
                            color: $medium-gray-blue-font-color;
                            cursor: pointer;
                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        &.address {
                            display: block;
                            margin-left: 0px;
                        }
                    }
                }
                
                
            }
        }

        .footer-container {
            flex: 0 0 100px;
            max-height: 100px;
            bottom: 10px;
            width: 80%;
            padding-left: 20px;

            .line-separator {
                height: 2px;
                background-color: $medium-gray-blue-font-color;
                width: 90px;
                opacity: 0.7;
            }
            label {
                margin-top: 5px;
                display: block;
                font-size: 16px;
                letter-spacing: -0.1px;
                color: $medium-gray-font-color;
            }
        }

        .arrow-container {
            height: 70px;
            width: 50px;
            right: 20px;
            margin-left: -25px;
            position: absolute;
            bottom: 0px;
            cursor: pointer;
            text-align: center;

            .arrow-text {
                font-size: 10px;
                display: block;
                font-family: 'SourceSansPro';
                color: $medium-gray-font-color;
                margin-top: 10px;
            }

            .arrow-icon {
                height: 30px;
                width: 100%;
                display: block;
                position: relative;
                margin-top: 5px;
            }
        }
    }
}

@media only screen and (max-width: 450px) {
    .this-easter-slide {
        flex-direction: column;
        breadcrumb {
            display: none;
            flex: 0;
        }
        .image-container {
            flex: 1 0 250px;
            max-height: 250px;
            header {
                flex: 0;
                display: none;
            }
            .init-message {
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 20px;
                text-align: center;
                align-items: center;
                font-size: 5vw;
            }
        }
        .text-container{
            order: -1;
            flex: 1 0 250px;
        }
    }
} 

@media screen and (min-width: 451px){
    .this-easter-slide {
        breadcrumb {
            position: absolute;
            height: 100%;
        }
        .image-container {
            .init-message {
                max-height: 200px;
                flex: 1 0 200px;
                text-align: right;
                top: 20%;
                right: 40px;
                font-size: 1.4vw;
                position:relative;
            }
        }
    }
}