<div class="this-easter-slide">
    <breadcrumb [currentSlide]=4></breadcrumb>
    <div class="image-container">
      <header></header>
      <div class="init-message">
        <label>"En esta parte supongo que una cita más relacionada con la vivencia de la 
          Semana Santa"</label>
      </div>
    </div>
    <div class="text-container">
      <div class="text-wrapper">
        <label class="title">ESTA PASCUA</label>
        <p>Aquí ya sí que vendrían los detalles concretos de esta Pascua en concreto como
          los días, las edades concretas, el lugar, lo que hace falta, etc.
        </p>
        <p>Tambíen querría hacer algo más interactivo.
        </p>
      </div>
      <div class="arrow-container" onClick="document.getElementById('join-contact').scrollIntoView({block: 'end', behavior: 'smooth'});">
      </div>
    </div>
  </div>