<div class="this-easter-slide">
    <breadcrumb [currentSlide]=4></breadcrumb>
    <div class="image-container">
      <header></header>
      <div class="init-message">
        <label>"La aventura de la santidad comienza con un sí a Dios"</label>
        <label class="author">-- San Juan Pablo II</label>
      </div>
    </div>
    <div class="text-container">
      <div class="text-wrapper">
        <label class="title">ESTA PASCUA</label>
        <p>Aquí ya sí que vendrían los detalles concretos de esta Pascua en concreto como
          los días, las edades concretas, el lugar, lo que hace falta, etc.
        </p>
        <p>Tambíen querría hacer algo más interactivo.
        </p>
        <div class="info-container">
          <div class="label-container">
            <label class="info-label">Días:</label>
            <label class="info-value">Del 29 de marzo a 1 de abril</label>
          </div>
          <div class="label-container">
            <label class="info-label">Edades:</label>
            <label class="info-value">De 16 a 30 años</label>
          </div>
          <text-box>Si eres menor necesitarás traer <a href="/assets/documents/autorizacion-menores.doc">nuestra autorización</a> rellenada y firmada</text-box>
          <div class="label-container">
            <label class="info-label">Precio:</label>
            <label class="info-value">120€</label>
          </div>
          <text-box>Si vienes con tu hermano, o hermanos, todos recibiréis un descuento de 15€</text-box>
          <div class="label-container">
            <label class="info-label">Dónde:</label>
            <label class="info-value"><a href="https://www.google.es/maps/place/La+Conreria/@41.491544,2.252576,15z/data=!4m2!3m1!1s0x0:0x1eb6f6d3e49a9607?sa=X&ved=0ahUKEwj5x5q_raXZAhUE6RQKHQj3AMYQ_BIIfjAK" target="_blank">Casa de colonias La Conrería</a></label>
            <label class="info-value address">Ctra. Badalona-Mollet km. 6 (BV-500) - Tiana (A 30 mins de BCN)</label>
          </div>
          <div class="label-container">
              <label class="info-label">Cómo inscribirse:</label>
              <label class="info-value">Para inscribirte necesitarás rellenar <a routerLink="/join" fragment="join-contact">el formulario</a>, que encontrarás en la siguiente sección, y realizar los pagos según se explica en el documento que te enviaremos cuando te inscribas.</label>
            </div>
        </div>
      </div>
      <div class="footer-container">
        <div class="line-separator"></div>
        <label>Aquí puedes encontrar la documentación  de la Pascua con toda la información:</label>
        <button>DESCARGA EL DOCUMENTO</button>
      </div>
      <div class="arrow-container" onClick="document.getElementById('join-contact').scrollIntoView({block: 'end', behavior: 'smooth'});">
        <span class="arrow-text">SCROLL</span>
        <img class="arrow-icon" src="/assets/images/arrow.svg">
      </div>
    </div>
  </div>