/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import './assets/styles/global';
@import './assets/styles/styleSheet';
@import './assets/styles/fonts';

html {
    height: 100%;
    width: 100%;
    display: flex;

    body {
        display: flex;
        flex: 1 0 auto;
        padding: 0px;
        margin: 0px;
        height: 100%;
        width: 100%;

        app-root {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            width: 100%;

            app-slides {
                flex: 1;
                display: flex;
                flex-direction: column;
                width: 100%;
            }
        }
    }

    label, span, div, input, select, p, button {
        font-family: 'SourceSansPro';
    }

    /* Temporary fix */
    .arrow-container {
        display: none;
    }

    @import './assets/styles/form';
    @import './assets/styles/table';
}