/* You can add global styles to this file, and also import other style files */

@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
@import './assets/styles/styleColor';
@import './assets/styles/styleSheet';
@import './assets/styles/fonts';

html {
    height: 100%;
    body {
        padding: 0px;
        margin: 0px;
        height: 100%;
    }

    label, span, div, input, select, p, button {
        font-family: 'SourceSansPro';
    }

    /* Temporary fix */
    .arrow-container {
        display: none;
    }

    @import './assets/styles/form';
}