// SourceSansPro
@font-face {
    font-family: 'SourceSansPro';
    src: url('/assets/fonts/SourceSansPro/SourceSansPro-Regular.otf');
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/assets/fonts/SourceSansPro/SourceSansPro-Black.otf');
    font-weight: bold;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('/assets/fonts/SourceSansPro/SourceSansPro-Semibold.otf');
    font-weight: 600;
}


// Lora
@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora/Lora-Regular.ttf');
}

@font-face {
    font-family: 'Lora';
    src: url('/assets/fonts/Lora/Lora-Italic.ttf');
    font-style: italic;
}
