

.form-fields {
    position: relative;
    margin: 0 auto;

    .title {
        color: $dark-blue-font-color;
        font-size: 22px;
        font-weight: bold;
        letter-spacing: -0.1px;
        padding-bottom: 10px;
    }
    .navigation-button {
        position: absolute;
        top: 5px;
        border: none;
        background-color: transparent;
        color: $text-box-note-font-color;
        font-size: 12px;
        font-weight: bold;
        right: 0px;
        cursor: pointer;

        i {
            font-weight: normal;
        }
        &:hover {
            color: $dark-blue-font-color;
        }

        &.left {
            left: 0px;
        }
    }
    .form-row {
        display: flex;
        margin-top: 10px;

        label {
            color: $medium-gray-blue-font-color;
            display: block;
        }

        input {
            padding: 5px 10px;
            box-sizing: border-box;
            border: 1px solid $text-box-note-font-color;
            border-radius: 3px;
            color: $dark-blue-font-color;

            &::placeholder {
                color: $placeholder-color;
            }

            &.ng-invalid.ng-touched {
                border-color: $red-error-color;
            }

        }

        select {
            background: transparent;
            color: $dark-blue-font-color;
            padding: 5px 10px;
            border: 1px solid $text-box-note-font-color;
            color: $dark-blue-font-color;
            border-radius: 3px;

            &.ng-invalid {
                color: $placeholder-color;
            }
            &.ng-invalid.ng-touched {
                border-color: $red-error-color;
            }
        }

        textarea {
            resize: none;
            text-align: left;
            padding: 5px 10px;
            border: 1px solid $text-box-note-font-color;
            color: $dark-blue-font-color;
            border-radius: 3px;

            &::placeholder {
                color: $placeholder-color;
            }
            &.ng-invalid.ng-touched {
                border-color: $red-error-color;
            }
        }
    }

    .register-button {
        margin-top: 20px;
        border: none;
        border-radius: 20px;
        width: 200px;
        height: 35px;
        background-color: $medium-gray-blue-font-color;
        color: $white-font-color;
        cursor: pointer;
        &:disabled {
            background-color: $disabled-form-button;
            color: $form-button-disabled-text-color;
            cursor: not-allowed;

            &:hover {
                color: $white-font-color;
            }
        }
        &:hover {
            background-color: $medium-gray-blue-button-hover;
        }
    }
}

