
// font colors
$white-font-color: #ffffff;
$dark-blue-font-color: #576a91;
$medium-gray-blue-font-color: #748ab6;
$medium-gray-font-color: #606060;
$text-box-note-font-color: #989898;
$form-button-disabled-text-color: #a2b6de;
$social-media-hover-color: #64abff;

// other colors
$background-box-gray: #f1f1f1;
$medium-gray-blue-button-hover: #8ca7dd;
$disabled-form-button: #c9d8f5;
$placeholder-color: #777777;

$red-error-color: #e75151;