
// font colors
$white-font-color: #ffffff;
$dark-blue-font-color: #576a91;
$medium-gray-blue-font-color: #748ab6;
$medium-gray-font-color: #606060;
$text-box-note-font-color: #989898;

// other colors
$background-box-gray: #f1f1f1;
$medium-gray-blue-button-hover: #8ca7dd;