.responsive-table {
    @include media($responsibe-big-table-media) {
        display: flex;
        flex-direction: column;

        .table-header {
            display: block;
    
            .table-cell {
                color: $text-box-note-font-color;
                font-weight: bold;
                letter-spacing: -0.1px;
                text-align: left;
                padding-bottom: 5px;
                border-bottom: 1px solid $text-box-note-font-color;
                border-right: none;
                margin-top: 0px;
                cursor: pointer;
            }
        }
    
        .table-body {
            display: block;
        }
    
        .table-cell {
            display: block;
            color: $medium-gray-font-color;
            font-size: 15px;
            border-right: 1px solid $dark-blue-font-color;
            padding-right: 5px;
            overflow: hidden;
            margin-top: 15px;
            flex: 1;

            .sub-cell-name {
                display: none;
            }
    
            &.cell-dots .sub-cell-value {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
    
            .sub-cell-value-extra {
                display: none;
            }
        }
    
        .table-row {
            display: flex;
            flex-direction: row;

            > .table-cell:not(:first-child) {
                margin-left: 10px;
            }
        }

        .table-cell-splitter {
            display: none;
        }
    }

    @include media($responsibe-small-table-media) {
        display: flex;

        .table-header {
            display: none;
        }

        .table-body {
            display: block;
            width: 100%;

            .table-row::after {
                content: "";
                display: block;
                height: 1px;
                width: 90px;
                background-color: $medium-gray-blue-font-color;
                margin: 20px 0;
            }
        }

        .table-row {
            display: block;
            width: 100%;
            
            .table-row-separator {
                height: 1px;
                width: 90px;
                background-color: $medium-gray-blue-font-color;
                margin: 20px 0;
            }

            .sub-cell-value-extra {
                display: inline-block;
            }
        }

        .table-cell {
            display: flex;
            flex-direction: row;
            color: $medium-gray-font-color;
            font-size: 15px;

            .sub-cell-name {
                color: $text-box-note-font-color;
                font-weight: bold;
                letter-spacing: -0.1px;
    
                &::after {
                    content: ': ';
                    white-space: pre;                        
                }
            }
        }
    }
}
